@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TheWayShop.Models.Category>

<div class="categories-shop">
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Math.Ceiling(Model.Count / 2f); i++)
            {
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    @if (i * 2 < Model.Count)
                    {
                        <div class="shop-cat-box">
                            <img class="img-fluid" src=@Model[i*2].ImagePath alt="" />
                            <a class="btn hvr-hover" href="/Product/ProductList/@Model[i * 2].Id">@Model[i * 2].Name</a>
                        </div>
                    }
                    @if (i * 2 + 1 < Model.Count)
                    {
                        <div class="shop-cat-box">
                            <img class="img-fluid" src=@Model[i*2 +1].ImagePath alt="" />
                            <a class="btn hvr-hover" href="/Product/ProductList/@Model[i * 2 + 1].Id">@Model[i * 2 + 1].Name</a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>


  


