
@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Products</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".top-featured">Top featured</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>

        @{
            var listId1 = ViewData["productsId1"] as List<TheWayShop.Models.Product>;
            <h1>Featured Products Category 1</h1>
            <div class="row special-list">

                @foreach (var product in listId1 )
                {
                    <partial name="_ProductPartialView" model="product" />
                }

            </div>
            var listId2 = ViewData["productsId2"] as List<Product>;
            <h1>Featured Products Category 2</h1>
            <div class="row special-list">

                @foreach (var product in listId2)
                {
                    <partial name="_ProductPartialView" model="product" />
                }

            </div>
        }
       
    </div>
</div>
<!-- End Products  -->
